R version 3.6.3 (2020-02-29)
R packages:
tidyverse
cowplot
ggrepel
gplots
heatmap.plus
RColorBrewer
magick
docstring
data.table
foreach
doParallel
parallel
scales
colorspace
gridtext
devtools
ComplexHeatmap
circlize
dendsort
ggthemes
